<!DOCTYPE html>
<html>
<head>
    <title>People Inside</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect('http://localhost:5000');
            var map = L.map('map').setView([40.631491, -8.656481], 16);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);

            var jetsonIcon = L.icon({
                iconUrl: "{{ url_for('static', filename='jetson.png') }}",
                iconSize: [20, 20],
                iconAnchor: [18, 39],
                popupAnchor: [10, -35]
            });

            var marker1 = L.marker([40.633150, -8.659335], {icon: jetsonIcon}).addTo(map);
            var marker2 = L.marker([40.633154, -8.659311], {icon: jetsonIcon}).bindTooltip("People inside DETI: ", {permanent: true}).addTo(map);
            var marker3 = L.marker([40.633134, -8.659131], {icon: jetsonIcon}).addTo(map);
            socket.on('people_inside_update', function(msg) {
                document.getElementById('people-inside').innerText = 'Estimated number of people inside the building: ' + msg.people_inside;
                marker2.getTooltip().setContent("People inside DETI: " + msg.people_inside);
            });
        });
    </script>
    
</head>
<body>
    <h1 id="people-inside">Estimated number of people inside the building: {{ people_inside }}</h1>
    <div id="map"></div>
</body>
</html>